<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Editing form</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/user/{id}/edit(id=${user.getId()})}" th:object="${user}">
    <input type="hidden" th:field="*{id}" />
    <div class="m-3">
        <div class="form-group row">
            <label class="col-4 col-form-label">E-mail: </label>
            <div class="col-8">
                <input type="email" th:field="*{email}" class="form-control" required />
            </div>
        </div>

        <div class="form-group row">
            <label class="col-4 col-form-label">Password: </label>
            <div class="col-8">
                <input type="password" th:field="*{password}" class="form-control"
                       required minlength="0" maxlength="32"/>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-4 col-form-label">First Name: </label>
            <div class="col-8">
                <input type="text" th:field="*{firstName}" class="form-control"
                       required minlength="2" maxlength="20"/>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-4 col-form-label">Last Name: </label>
            <div class="col-8">
                <input type="text" th:field="*{lastName}" class="form-control"
                       required minlength="2" maxlength="20" />
            </div>
        </div>

        <div class="form-group row">
            <label class="col-4 col-form-label">Age: </label>
            <div class="col-8">
                <input type="text" th:field="*{age}" class="form-control"
                       required minlength="1" maxlength="20" />
            </div>
        </div>
        <br/>
        <p>
            <label>Roles:
                <input type="checkbox" name="roles"
                       th:each="role : ${allRoles}"
                       th:text="${role.name}"
                       th:value="${role.name}"
                       th:field="*{roles}"
                />
            </label>
        </p>

        <div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </div>
</form>

</body>
</html>