<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Update user</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/user/{id}/edit(id=${user.getId()})}" th:object="${user}">
  <label for="firstName">Enter first name: </label>
  <input type="text" th:field="*{firstName}" id="firstName"/>
  <br/>
  <label for="lastName">Enter last name: </label>
  <input type="text" th:field="*{lastName}" id="lastName"/>
  <br/>
  <label for="age">Enter age: </label>
  <input type="text" th:field="*{age}" id="age"/>
  <br/>
  <label for="email">Enter email: </label>
  <input type="text" th:field="*{email}" id="email"/>
  <br/>

  <label for="password">Enter email: </label>
  <input type="text" th:field="*{password}" id="password"/>
  <br/>

  <div class="form-group">
    <ul>
      <li th:each="role : ${allRoles}">
        <input type="checkbox" th:field="*{roles}" th:value="${role}" />
        <label th:for="${#ids.prev('roles')}" th:text="#{${role}}"></label>
      </li>
    </ul>
  </div>


<!--  <tr>-->
<!--    <td>Certificate</td>-->
<!--    <td>-->
<!--      <th:block th:each="role : ${roles}">-->
<!--        <input type="checkbox" name="role" th:value="${role.id}"/>-->
<!--        <label th:text="${role.name}"></label>-->
<!--      </th:block>-->
<!--    </td>-->
<!--  </tr>-->




  <input type="submit" value="Update"/>
</form>

</body>
</html>