<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
  <title>User</title>
</head>
<body>
<h1>User, welcome spring boot security page!</h1>

<p th:text="${'id: ' + user.getId()}">VALUE</p>
<p th:text="${'name: ' + user.getFirstName()}">VALUE</p>
<p th:text="${'surname: ' + user.getLastName()}">VALUE</p>
<p th:text="${'age: ' + user.getAge()}">VALUE</p>
<p th:text="${'email: ' + user.getEmail()}">VALUE</p>

<div>
    <a th:text="${'Roles: '}"></a>
    <tr th:each="role : ${user.getRoles()}">
        <td th:text="${role.name}"></td>
    </tr>
</div>
<br/>

<form th:action="@{/user/{id}/edit(id=${user.getId()})}">
  <input type="submit" value="Edit" />
</form>

<form th:method="DELETE" th:action="@{/user/{id}/delete(id=${user.getId()})}">
  <input type="submit" value="Delete"/>
</form>

<br/>
<input type="button" value="Logout"
       onclick="window.location.href='/logout'">
<br/>
<input type="button" value="Main page"
       onclick="window.location.href='/index'">

</body>
</html>